* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.banner {
    width: 100%;
    background-color: #000053;
    padding: 5px;
    color: white;
    text-align: center;
}
.navbr {
    overflow: hidden;
    background-color: #1c1c84;
}
.navbr a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.active_nav {
    background-color: #04AA6D;

}
.navbr a:hover {
    background-color: #ddd;
    color: black;
}
.head {
    background-color: #f1f1f1;
    padding: 6px 6px;
    text-align: justify;
}
.img1 {
    float: left;
    margin-right: 20px;

}
.head::after {
    content: "";
    clear: both;
    display: table;
}
.details {
    background-color: #f2f2f2;
    margin: 10px 0;
}
.details li {
    border: 1px solid red;
    border-radius: 10px 15px;
    margin: 10px 0;
}
.details li:hover{
    background-color: #04AA6D;
}